<div class="card">
  <!-- <ng-content></ng-content> -->
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<!-- <ng-container *ngTemplateOutlet="header"></ng-container>
<ng-container *ngTemplateOutlet="content"></ng-container>
<ng-container *ngTemplateOutlet="footer ? footer : defaultFooterTemplate"></ng-container>

<ng-template #defaultFooterTemplate>
  Sou o Footer Default
</ng-template> -->


<!-- <div class="card">
  <div *ngIf="condition">
    <ng-content select="app-meu-comp"></ng-content>
  </div>
  <div *ngIf="!condition">
    Conteúdo não projetado
  </div>
</div> -->
