<app-sem-diretiva></app-sem-diretiva>
<app-com-diretiva></app-com-diretiva>

<button disabled>Meu botão</button>
<br>
<button [attr.disabled]="false">Meu botão</button>
<br>
<button [disabled]="true">Meu botão prop</button>
<br>
<button appDisabled>Meu botão attr diretiva</button>
<br>
<p style="background-color: orange; color: white;">Parágrafo normal</p>
<p [attr.style]="'background-color: black; color: white;'">Parágrafo com attr</p>
<p [style]="{backgroundColor: 'red', color: 'white'}">Parágrafo com property</p>
<p appStyle>Parágrafo com diretiva</p>
<p class="meu-texto">Normal</p>
<p [attr.class]="'meu-texto'">Attr</p>
<p [className]="'meu-texto meu-size'">Prop class name</p>
<p [class]="{ 'meu-texto': true, 'meu-size': true }">Prop class</p>
<p appClass>Diretiva</p>
<span>listener </span>
<input appListener>
<br>
<br>
<span>background </span>
<input appInputBackgroundDirective bgColor="blue" tColor="white"/>
<br>
<br>
<span>background </span>
<input appInputBackgroundDirective [bgColor]="appBgColor" tColor="white"/>
<!-- <input type="text" #meuInput ngModel />

Valor: {{ meuInput.value }} -->

<!-- <button (click)="changeDetection()">Detectar</button> -->
 <!-- <button (click)="clicou(meuInput)">Atualizar</button> -->

<!-- <div class="primo"> -->
  <!-- Primo: {{ inputPai.value }} -->
<!-- </div> -->

<!-- <div class="pai" *ngIf="true"> -->
  <!-- <input #inputPai ngModel> -->
  <!-- Pai: {{ inputFilho.value }} -->

 <!-- <div class="filho"> </div> <div class="filho" *ngIf="true"> -->
    <!-- Filho: <input #inputFilho ngModel > -->

    <!-- Filho: {{ inputPai.value }} -->
  <!-- </div> -->
<!-- </div> -->
<!--
Meu input: <input type="text" #meuInput >

<button (click)="updateInputText()">Atualizar</button>
<button (click)="focusElementInput()">Focar elemento input</button>

<div #minhaDiv>
  Conteúdo inicial.
</div>

<button (click)="updateContent()">Atualizar conteúdo</button> -->
<!-- <app-filho #filhoComponente></app-filho>
<button (click)="sayHello()">Say hello</button>
<button (click)="sayHello_2()">Say hello_2</button>

Meu input: <input type="text" #meuInput *ngIf="true">

<br>
<br>
<br>
<button #meuButton class="btn-{{ i }}" *ngFor="let button of buttonList; let i = index" (click)="changeColor($event)">{{button}}</button>
<button (click)="resetButtons()">Resetar cores botão</button>
<br>
<br>
<button (click)="firstItem()">Pegar primeiro</button>
<br>
<br>
<button (click)="removeItem()">Remover item</button> -->

