<!-- <input type="text" #meuInput ngModel />

Valor: {{ meuInput.value }} -->

<!-- <button (click)="changeDetection()">Detectar</button> -->
 <!-- <button (click)="clicou(meuInput)">Atualizar</button> -->

<!-- <div class="primo"> -->
  <!-- Primo: {{ inputPai.value }} -->
<!-- </div> -->

<!-- <div class="pai" *ngIf="true"> -->
  <!-- <input #inputPai ngModel> -->
  <!-- Pai: {{ inputFilho.value }} -->

 <!-- <div class="filho"> </div> <div class="filho" *ngIf="true"> -->
    <!-- Filho: <input #inputFilho ngModel > -->

    <!-- Filho: {{ inputPai.value }} -->
  <!-- </div> -->
<!-- </div> -->

Meu input: <input type="text" #meuInput >

<button (click)="updateInputText()">Atualizar</button>
<button (click)="focusElementInput()">Focar elemento input</button>

<div #minhaDiv>
  Conteúdo inicial.
</div>

<button (click)="updateContent()">Atualizar conteúdo</button>
