{{ '2023-10-21T21:00:00.000Z' | date }}
<br>
{{ '2023-10-21T21:00:00.000Z' | date : 'full' }}
<br>
{{ '2023-10-21T21:00:00.000Z' | date : 'full' : undefined }}
<!-- <h1>Formatações:</h1>

Curto: {{ '2023-10-21T21:00:00.000Z' | date : 'short' }} <br>
Médio: {{ '2023-10-21T21:00:00.000Z' | date : 'medium' }} <br>
Longo: {{ '2023-10-21T21:00:00.000Z' | date : 'long' }} <br>
Completo: {{ '2023-10-21T21:00:00.000Z' | date : 'full' }} <br>

<b>"Hoje é Saturday dia 21 de October de 2023": </b>
<p>{{ '2023-10-21T21:00:00.000Z' | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY"}}</p>

<b>"Hoje é Saturday dia 21 de October de 2023 às 18:00"</b>
<p>{{ '2023-10-21T21:00:00.000Z' | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm" }}</p>

<b>"Hoje é Saturday dia 21 de October de 2023 às 18:00 GMT-03:00":</b>
<p>{{ '2023-10-21T21:00:00.000Z' | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm zzzz" }}</p>

<b>"Hoje é Saturday dia 21 de October de 2023 às 21:00 GMT+00:00":</b>
<p>{{ '2023-10-21T21:00:00.000Z' | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm zzzz" : '+0000' }}</p>

<b>"Data: 21/10/2023 Hora: 18:00 PM"</b>
<p>{{ '2023-10-21T21:00:00.000Z' | date : "'Data:' dd/MM/YYYY 'Hora:' HH:mm a" }}</p> -->

<!-- <h1>Formato ISO8601</h1>
<b> Data convertida para região: </b>{{ minhaData | date : 'full' }}
<br><br>
<b>Data UTC-0: </b>{{ minhaData | date : 'full' : '+0000' }}
<h1>Formato TimeStamp:</h1>
Timestamp para região: {{ 1697922000000 | date : 'full' }}
<br><br>
Timestamp para UTC-0: {{ 1697922000000 | date : 'full' : '+0000' }}
<br><br>
<h1>Formato Date obj: </h1>
<b>Data convertida para região: </b>{{ minhaDataObj | date: 'full' }}
<br><br>
<b>Data UTC-0: </b>{{ minhaDataObj | date : 'full' : '+0000' }} -->

<!-- <app-uppercase></app-uppercase>

<app-lowercase></app-lowercase>

<app-titlecase></app-titlecase>

<app-json></app-json>

<app-slice></app-slice> -->

<!-- Nome do Usuário: <b>{{ pessoa.nome | truncate : 3 | uppercase }}</b>
<br>
Status do Usuário: <b>{{ pessoa.status | userStatus }}</b> -->

<!-- <div>
  {{ pessoa.nome | uppercase}} <br>
  {{ pessoa.nome }} <br>
  {{ pessoa | json | uppercase}}
</div> -->

<!-- <app-card>
  <ng-template #meuTemplate>
    <app-meu-comp></app-meu-comp>
  </ng-template>
</app-card> -->

<!-- <ng-template #headerTemplate>
  <p>Sou o Header</p>
</ng-template>

<ng-template #contentTemplate>
  <p>Sou o Content</p>
</ng-template>

<ng-template #footerTemplate>
  <p>Sou o Footer</p>
</ng-template>

<app-card [header]="headerTemplate" [content]="contentTemplate" [footer]="footerTemplate"></app-card> -->

<!-- <div>
  Div:
  <app-meu-comp></app-meu-comp>
</div>

<ng-container>
  Container:
  <app-meu-comp></app-meu-comp>
</ng-container>

<ng-template>
  Template:
  <app-meu-comp></app-meu-comp>
</ng-template> -->



<!-- <app-card>
  <app-meu-comp></app-meu-comp>
</app-card> -->

<!-- <div class="card"> -->
  <!-- <h1 class="ca-u-card-text-title">Sou o título do card</h1> -->
  <!-- <h1 appCardtextTitle>Sou o título do card</h1>
  <app-card-text-title>Sou o título do card</app-card-text-title> -->

  <!-- <h1 class="ca-u-card-text-subtitle">Sou o subtítulo do card</h1> -->
  <!-- <h1 appCardTextSubtitle>Sou o subtítulo do card</h1>
  <app-card-text-subtitle>Sou o subtítulo do card</app-card-text-subtitle> -->

  <!-- <h1 class="ca-u-card-text-description">Sou a descrição do card</h1> -->
  <!-- <h1 appCardTextDescription color="green">Sou a descrição do card</h1>
  <app-card-text-description color="green">Sou a descrição do card</app-card-text-description>
</div> -->

<!-- <img src="assets/images/lhaminha1.JPG" class="ca-u-card-avatar-small"> -->

<!-- <img src="assets/images/lhaminha1.JPG" appCardAvatarSmall>

<app-card-avatar-small>
  <img src="assets/images/lhaminha1.JPG">
</app-card-avatar-small> -->

<!-- <img src="assets/images/lhaminha1.JPG" class="ca-u-card-avatar-large"> -->

<!-- <img src="assets/images/lhaminha1.JPG" appCardAvatarLarge>

<app-card-avatar-large>
  <img src="assets/images/lhaminha1.JPG">
</app-card-avatar-large> -->

<!--
<app-xss></app-xss>
<app-sem-diretiva></app-sem-diretiva>
<app-com-diretiva></app-com-diretiva>

<button disabled>Meu botão</button>
<br>
<button [attr.disabled]="false">Meu botão</button>
<br>
<button [disabled]="true">Meu botão prop</button>
<br>
<button appDisabled>Meu botão attr diretiva</button>
<br>
<p style="background-color: orange; color: white;">Parágrafo normal</p>
<p [attr.style]="'background-color: black; color: white;'">Parágrafo com attr</p>
<p [style]="{backgroundColor: 'red', color: 'white'}">Parágrafo com property</p>
<p appStyle>Parágrafo com diretiva</p>
<p class="meu-texto">Normal</p>
<p [attr.class]="'meu-texto'">Attr</p>
<p [className]="'meu-texto meu-size'">Prop class name</p>
<p [class]="{ 'meu-texto': true, 'meu-size': true }">Prop class</p>
<p appClass>Diretiva</p>
<span>listener </span>
<input appListener>
<br>
<br>
<span>background </span>
<input appInputBackgroundDirective bgColor="blue" tColor="white"/>
<br>
<br>
<span>background </span>
<input appInputBackgroundDirective [bgColor]="appBgColor" tColor="white"/>
<br>
<br>
<div #minhaDiv>Minha div</div>
<div id="minha-outra-div">Minha outra div</div>
<br>
<button (click)="createElement()">Criar elemento</button>
<br>
<div appFocusSecondInput></div>
<br>
<div appFocusSecondInput>
  <input placeholder="Input 1">
  <input placeholder="Input 2">
  <input placeholder="Input 3">
</div> -->
<!-- <input type="text" #meuInput ngModel />

Valor: {{ meuInput.value }} -->

<!-- <button (click)="changeDetection()">Detectar</button> -->
 <!-- <button (click)="clicou(meuInput)">Atualizar</button> -->

<!-- <div class="primo"> -->
  <!-- Primo: {{ inputPai.value }} -->
<!-- </div> -->

<!-- <div class="pai" *ngIf="true"> -->
  <!-- <input #inputPai ngModel> -->
  <!-- Pai: {{ inputFilho.value }} -->

 <!-- <div class="filho"> </div> <div class="filho" *ngIf="true"> -->
    <!-- Filho: <input #inputFilho ngModel > -->

    <!-- Filho: {{ inputPai.value }} -->
  <!-- </div> -->
<!-- </div> -->
<!--
Meu input: <input type="text" #meuInput >

<button (click)="updateInputText()">Atualizar</button>
<button (click)="focusElementInput()">Focar elemento input</button>

<div #minhaDiv>
  Conteúdo inicial.
</div>

<button (click)="updateContent()">Atualizar conteúdo</button> -->
<!-- <app-filho #filhoComponente></app-filho>
<button (click)="sayHello()">Say hello</button>
<button (click)="sayHello_2()">Say hello_2</button>

Meu input: <input type="text" #meuInput *ngIf="true">

<br>
<br>
<br>
<button #meuButton class="btn-{{ i }}" *ngFor="let button of buttonList; let i = index" (click)="changeColor($event)">{{button}}</button>
<button (click)="resetButtons()">Resetar cores botão</button>
<br>
<br>
<button (click)="firstItem()">Pegar primeiro</button>
<br>
<br>
<button (click)="removeItem()">Remover item</button> -->

