/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
  background-color: darkgray;
  font-family: 'Poppins', sans-serif;
}

.ca-u-card-avatar-small {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.ca-u-card-avatar-large {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.ca-u-card-text-title {
  font-weight: 500;
  font-size: 25px;
  display: block;
}

.ca-u-card-text-subtitle {
  font-weight: 200;
  font-size: 16px;
  display: block;
}

.ca-u-card-text-description {
  font-weight: 300;
  font-size: 20px;
  display: block;
}

.meu-texto {
  background-color: orange;
  color: white
}

.meu-size {
  font-size: 30px
}

.bg-red {
  background-color: red;
  color: white;
  margin-top: 1px;
}

